@font-face {
  font-family: "Mario Solid";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/MARIO_Font_v3_Solid.otf") format("opentype");
}

@font-face {
  font-family: "Mario Maker";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/MARIOMAKER.otf") format("opentype");
}

:root {
  --mario-font-body: "Mario Solid", "Mario Maker", "Trebuchet MS", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --mario-font-retro: "Mario Maker", "Mario Solid", "Trebuchet MS", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --bs-body-font-family: var(--mario-font-body);
}

$fa-font-path: "../webfonts";
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";

html,
body,
.container {
  font-family: var(--mario-font-body);
}

h1,
h2,
h3,
.navbar-brand,
.mario-display {
  font-family: var(--mario-font-retro);
  letter-spacing: 0.08em;
}
