@font-face {
  font-family: "Superplumber Solid";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/SUPERPLUMBER_Font_v3_Solid.otf") format("opentype");
}

@font-face {
  font-family: "Superplumber Maker";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/SUPERPLUMBERMAKER.otf") format("opentype");
}

:root {
  --superplumber-font-body: "Superplumber Solid", "Superplumber Maker", "Trebuchet MS", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --superplumber-font-retro: "Superplumber Maker", "Superplumber Solid", "Trebuchet MS", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --bs-body-font-family: var(--superplumber-font-body);
}

$fa-font-path: "../webfonts";
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";

html,
body,
.container {
  font-family: var(--superplumber-font-body);
}

h1,
h2,
h3,
.navbar-brand,
.superplumber-display {
  font-family: var(--superplumber-font-retro);
  letter-spacing: 0.08em;
}
